.player {
    z-index: 60; 
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/sPlrShip.png");
    overflow:hidden;
}

.player-shadow {
    z-index: 15;
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/sPlrShip.png");
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
}

.player-engine {
    z-index: 60; 
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/sEngine.png");
    image-rendering: pixelated;    
    animation: Engine 600ms steps(8) infinite;
}
@keyframes Engine {
    from {
        background-position-x: 0px; }
    to {
        background-position-x: -384px; }
}

.moo {
    z-index: 25;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../img/sMoo.png");
    overflow: hidden;
    animation: AnimMoo 2000ms steps(16) infinite;
    background-position-x: 0px;   
}
.moo-shadow {
    z-index: 15;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../img/sMoo.png");
    overflow: hidden;
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
    animation: AnimMoo 2000ms steps(16) infinite;
    background-position-x: 0px;   
}
@keyframes AnimMoo {
    from { background-position-x: 0px; }
    to { background-position-x: -384px; }
}

.powerup {
    z-index: 25;
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/sPowerups.png");
    overflow: hidden;
    animation: powerUp 1200ms steps(10) infinite;
    background-position-x: 0px; 
}

.powerup.firepower {
    background-position-y: 0px; 
}
.powerup.firepower-shadow {
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
    background-position-y: 0px; 
}

.powerup.movespeed {
    background-position-y: -48px;
}
.powerup.movespeed-shadow {
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
    background-position-y: -48px;
}

.powerup.firespeed {
    background-position-y: -96px;
}
.powerup.firespeed-shadow {
    filter: grayscale(100%) brightness(0);
    opacity: 0.3;
    background-position-y: -96px;
}
@keyframes powerUp {
    from { background-position-x: 0px; }
    to { background-position-x: -480px; }
}

.bullet {
    z-index: 20;
    position: absolute;
    width: 96px; 
    height: 32px; 
    background-image: url('../img/sPlrBulletPlasma.png');
}

.enemybullet1 {
    z-index: 20;
    position: absolute;
    width: 16px; 
    height: 16px; 
    background-image: url('../img/sEnemyBullet1.png');
    animation: blinkBullet 1200ms steps(8) infinite; 
}
@keyframes blinkBullet {
    from { background-position: 0px; }
    to { background-position: -128px; }
}

.enemy-boss-plasma1 {
    z-index: 60;
    position: absolute;
    width: 48px; 
    height: 48px; 
    background-image: url('../img/sBossFire1.png');
    animation: blinkPlasma 1200ms steps(16) infinite; 
}
@keyframes blinkPlasma {
    from { background-position: 0px; }
    to { background-position: -768px; }
}

.enemy-boss-plasma2 {
    z-index: 60;
    position: absolute;
    width: 48px; 
    height: 720px; 
    background-image: url('../img/sBossFire2.png');
    animation: firePlasma 1200ms steps(16) forwards; 
}
@keyframes firePlasma {
    from { background-position: 0px; }
    to { background-position: -768px; }
}
